<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Db"
             connectionString="Server=localhost,1433;Database=CompComponentsDB;User Id=sa;Password=Strong!Pass123;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>